.teki_area {
    height: 300px;
    // background-color: rgb(77, 70, 222);
    background-image: linear-gradient(
        to right top,
        #071933,
        #00265a,
        #0e3182,
        #3539a9,
        #613bcd
    );
    display: flex;
    justify-content: center;
    align-items: center;
    .super_gorira_wrapper {
        width: 100px;
        height: 100px;
        background-color: rgb(125, 0, 0);
        border-radius: 100%;
        position: relative;
        color: white;
        .status {
            position: absolute;
            top: 120px;
            .name {
                color: rgb(184, 2, 2);
            }
            .hp {
            }
        }
    }
}

.mikata_area {
    height: 300px;
    // background-color: rgb(74, 152, 70);
    background-image: linear-gradient(
        to left bottom,
        #015719,
        #106c25,
        #1e8131,
        #2c973d,
        #39ae4a
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
    .yellow_wrapper {
        width: 70px;
        height: 70px;
        background-color: rgb(255, 217, 0);
        color: rgb(255, 255, 255);
        border-radius: 100%;
        position: relative;
        .status {
            position: absolute;
            top: 80px;
            .name {
                color: yellow;
            }
            .hp {
            }
            .mp {
            }
        }
    }
    .red_wrapper {
        width: 70px;
        height: 70px;
        background-color: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 100%;
        position: relative;
        .status {
            position: absolute;
            top: 80px;
            .name {
                color: red;
            }
            .hp {
            }
            .mp {
            }
        }
    }
    .blue_wrapper {
        width: 70px;
        height: 70px;
        background-color: rgb(0, 8, 255);
        color: rgb(255, 255, 255);
        border-radius: 100%;
        position: relative;
        .status {
            position: absolute;
            top: 80px;
            .name {
                color: blue;
            }
            .hp {
            }
            .mp {
            }
        }
    }
}
